.top {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.bottom {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
