.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.content{}
.footer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
